.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .timer {
    margin-top: 10px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 20vh;
  }
  
  .counter{
    color: var(--color-brand);
  }